/* styles.css */

.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
#logo-header{
    width: 70px;
    margin: 5px;
    border-radius: 10px;
    -webkit-transition : -webkit-transform 0.2s ease-in-out 0.2s;
}
#logo-header:hover{
    -webkit-transform: scale(1.2);
}
.nav-item:hover{
background-color: gray;
}
.navbar-brand:hover{
    background-color: gray;
}
/*tamaño de fotos del footer*/
#figure1{
    height: 100px;
}
footer{
    color:#ffff ;
    background-color: #301abe;
}
.fontForm{
    background-color: #301abe;
    margin: 5px;
    margin-right: 60%;
}
.row{
    
    display: flex;
    justify-content: center;
}
#boton{
    background-color: #31b262;
    color:white;
    border-radius: 5px;
}
.row {
    text-align: center;
}













